<div class="copyrights">
	<div class="container">
		<div class="footer-distributed">
			<div class="footer-center">
				<p class="footer-company-name">
					All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By :
					<a href="https://html.design/">html design</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"
	><i class="fa fa-angle-up"></i
></a>
